<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DiabloNewsConnectionString"
            connectionString="Data Source=SIN-OMEGA\SQLExpress;Initial Catalog=DiabloNews;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DiabloNewsConnectionString1"
            connectionString="Data Source=SIN-OMEGA\SQLExpress;Initial Catalog=DiabloNews;User ID=developer"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DiabloNewsConnectionString2"
            connectionString="Data Source=SIN-OMEGA\SQLExpress;Initial Catalog=DiabloNews;User ID=developer;Password=developer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="WebFormatLocation" serializeAs="String">
                <value>C:\inetpub\wwwroot\DiabloNews\Bin</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>