<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="rssConfigGroup">
            <section name="rssConfig" type="RSSConfigSection, RSSLib" allowLocation="true" allowDefinition="Everywhere" />
        </sectionGroup>
    </configSections>
    <rssConfigGroup>
        <rssConfig>
            <sites>
                <add contentURI="http://us.battle.net/d3/en/feed/news" articleTypeID="13" readerType="SIMPLE" /><!-- Blizzard Official RSS -->
                <add contentURI="http://www.diablofans.com/rss/forums/1-diablo-fans-home-page-news/" articleTypeID="14" readerType="DIABLO_FANS" /><!-- Diablo Fans RSS -->
                <add contentURI="http://diablo.incgamers.com/feed" articleTypeID="15" readerType="INC_GAMERS" />
            </sites>
        </rssConfig>
    </rssConfigGroup>
    <appSettings>
        <add key="PollTime" value="10" /><!--In Minutes-->
        <add key="CutOffDateInHours" value="24"/>
    </appSettings>
    <connectionStrings>
        <add name="conStr" connectionString="Data Source=SIN-OMEGA\SQLExpress;Initial Catalog=DiabloNews;User ID=developer;Password=developer" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>